body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  color: #fff;
  padding-left: 70px;
  padding-right: 100px;
}

.logo span {
  color: #ffa200;
}

.navbar-nav .nav-link {
  color: #ffa200;
}

.nav-principal {
  background-color: #000;
}

.wraper {
  width: 100%;
}

/*Banner*/

.banner {
  width: 100%;
  height: 500px;
  background-image: url(../img/home.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}

.principal {
  padding: 150px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffa200;
}

/*Botão Contratar*/

.imovel {
  text-align: center;
}

.imoveis {
  text-align: center;
  margin: 30px 0;
}

span.navbar-toggler-icon {
  bottom: 19px;
  left: 449px;
  top: 13px;
  display: inline-block;
  cursor: pointer;
}

.navbar-toggler {
  color: #ffa200;
}

.conhecer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-conhecer {
  font-size: 23px;
  color: #fff;
  border: solid 5px #ffa200;
  border-radius: 0%;
  padding: 8px 18px;
}

.btn-conhecer:hover {
  text-decoration: none;
  background: #ffa200;
  color: #000;
}

button.btn.btn-contratar {
  text-decoration: none;
  background: #13110fe0;
  color: #ffa200;
}

.btn.btn-contratar {
  min-width: 150px;
  min-height: 50px;
  font-size: 22px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;

}

.btn.btn-contratar:hover,
.button:focus {
  color: #ffff;
  transform: translateY(-4px);
}


/*Botão Conhecer */
/*Últimos imóveis cadastrados*/

.cadastrados {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.card-body {
  background-color: #dfdfdf;
}

img.card-img-top {
  padding: 26px 9px 30px;
}

.card {
  max-width: 300px;
  min-height: 350px;
  border: solid 1px rgb(110, 110, 110);
}

.card img {
  object-fit: cover;
}

.contato-box h2 {
  margin-bottom: 85px;
  text-align: center;

  margin-top: 85px;
}

.contato-box .container {
  border: solid 1px #cccc;
  padding: 20px 60px;
}

.contato-box {
  margin: 83px 10px;
}

a.nav-link {
  color: #000000;
}

a:hover {
  color: #ffa200;
}

html,
body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/*Rodapé*/

.rodape {
  text-align: center;
  background-color: #212121;
  padding: 25px 0px 20px 10px;
}

.input-contato {
  width: 300px;
  height: 55px;
  border: solid 3px #000;
  border-radius: 0%;
}

button.btn-enviar {
  border-radius: 0%;
  width: 300px;
  height: 55px;
  background-color: #ffa200;
  text-transform: uppercase;
}

.empresa-box {
  margin-bottom: 131px;
  margin-top: 59px;
}

.empresa {
  text-align: center;
  padding: 10px 50px 10px;
}

h1.texto-historia {
  margin-bottom: 50px;
}

/*footer*/

.logo-footer {
  color: #fff;
}

.logo-footer span {
  color: #ffa200;
}

.texto {
  font-weight: 500;
}

/*@media*/

@media (max-width: 630px) {
  .rodape h4 {
    font-size: 17px;
  }

  .logo {
    padding-right: 0;
  }

}